.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.searchEngine {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 1em;
}

.main-content {
  width: 80%;
  background-color: #e9ecef;
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width : 100%;
  background: #282c34;
}

.logo {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
}

.logout{
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}