.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.searchEngine {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 1em;
}

.main-content {
  width: 80%;
  background-color: #e9ecef;
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #282c34;
}

.logo {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
}

.logout {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.filter-list {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
}

.filter-list.expanded {
  max-height: 500px; /* Adjust this value to fit your content */
  opacity: 1;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.search-buttons {
  display: flex;
  justify-content: space-evenly;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.slider-container .input-range {
  height: 25px;
  margin: 0 5%;
  width: 90%
}

.slider-container .input-range__track {
  background: #ced4da;
}

.slider-container .input-range__slider {
  background: #007bff;
}

.slider-container .input-range__track--active {
  background: #007bff;
}
